@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=The+Nautigal&display=swap');
div{
    width: 24%;
    
    background-color: rgb(223, 100, 117);
    border: black solid 1px;
    float: left;
}
img{
    width: 100%;
    height: 200px;
}
h1{
    color: rgb(19, 15, 15);
    text-align: center;
}

p{
    font-family: 'Luxurious Roman', cursive;
}