.row{
    background-color: aquamarine;
    height: 274px;
    width: 643px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.col{
    width: 100px;
    height: 150px;
    border: black solid 1px;
    background-color: blueviolet;
}