@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=The+Nautigal&display=swap');
div{
    width: 24%;
    
    background-color: aqua;
    border: black solid 1px;
    float: left;
}
img{
    width: 100%;
    height: 100px;
}
h2{
    text-align: center;
}

p{
    font-family: 'Luxurious Roman', cursive;
}