#b1{
    background-color: chocolate;
    width: 300px;
    height: 100px;
    position:fixed;
}
#b2{
    background-color: rgb(15, 226, 8);
    width: 100px;
    height: 100px;
    position:absolute;
    margin-left: 50%;
}