div{
    
    height:  182px;
    width: 132px;
    background-color: rgb(12, 4, 0);
}
.a1{
    text-align: center;
}
.col-1{
    
    
    margin-left: 339px;
    background-color: rgb(219, 128, 17)

}
.col-2{
    
    
    margin-top: -181px;
    margin-left: 480px;
    background-color: rgb(211, 30, 120)
}
.col-3{
    background-color: rgb(172, 145, 135);
    margin-top: -181px;
    margin-left: 619px;
}
.col-4{
    background-color: rgb(68, 27, 182);
    margin-top: -183px;
    margin-left: 761px;
}
.col-5{
    background-color: rgb(175, 201, 30);
    margin-top: -183px;
    margin-left: 901px;
}
    

.col-6{
    background-color: rgb(154, 165, 231);
    margin-top: 36px;
    margin-left: 761px;
}
.col-7{
    background-color: rgb(184, 201, 90);
    margin-top: -183px;
    margin-left: 901px;
}
.col-8{
    background-color: rgb(245, 77, 16);
    margin-top: -182px;
    margin-left: 619px;
}
.col-9{
    background-color: rgb(203, 192, 231);
    margin-top: -181px;
    margin-left:480px;
}
.col-10{
    background-color: rgb(222, 240, 120);
    margin-top: -183px;
    margin-left: 340px;
}
.col-11{
    background-color: rgb(4, 33, 202);
    margin-top: -180px;
    margin-left: -194px;
}
.col-12{
    background-color: rgba(23, 230, 212, 0.295);
    margin-top: -182px;
    margin-left: 1044px;
}
.col-13{
    background-color: rgba(13, 238, 62, 0.295);
    margin-top: -184px;
    margin-left: 197px;
}




.col-14{
    background-color: rgb(224, 66, 8);
    margin-top: 24px;
    margin-left: 619px;
}

.col-15{
    background-color: rgb(231, 113, 2);
    margin-top: -178px;
    margin-left: 901px;
}
    

.col-16{
    background-color: rgb(154, 165, 231);
    margin-top: -186px;
    margin-left: 761px;
}
.col-17{
    background-color: rgb(247, 35, 35);
    margin-top: -178px;
    margin-left: 1046px;
}
.col-18{
    background-color: rgb(209, 77, 209);
    margin-top: -188px;
    margin-left: 341px;
}
.col-19{
    background-color: rgb(203, 192, 231);
    margin-top: -181px;
    margin-left:480px;
}
.col-20{
    background-color: rgb(222, 240, 120);
    margin-top: -184px;
    margin-left: 50px;
}
.col-21{
    background-color: rgb(4, 33, 202);
    margin-top: -183px;
    margin-left: 196px;
}


.col-22{
    background-color: rgb(184, 243, 20);
    margin-top: -172px;
    margin-left: 1191px;
}

.col-23{
    background-color: rgb(88, 225, 235);
    margin-top: -189px;
    margin-left: -194px;
}
.col-24{
    background-color: rgb(231, 108, 25);
    margin-top: -189px;
    margin-left: -194px;
}
