h1{color: bisque;
text-align: center;}
#a1{color: chartreuse;
text-align: left;}
.a2{color: coral;
text-align: right;}
#d1{background-color: cornsilk;}
#d2{background-color: darkgoldenrod;
color: darkgreen;}